<h1>Default Project Boilerplate [working title]</h1>

<p>The Default Project Boilerplate&rsquo;s pourpose is it, to provide a fast and easy to use boilerplate for getting a project started. This is however a <em>compass project</em> and uses <em>scss features</em>. It will not fullfill its meaning without an offline workflow. I used the <em>Html5 Boilerplate Project</em> as a basis to develop this boilerplate. Feel free to use it, modify and change it in any way you want. Create an issue or get into contact with my any other way, if you feel like there is something missing / done wrong in this project.</p>

<h2>Features (in short)</h2>

<ul>
<li>Very simple fluid grid generator for layouting very quickly</li>
<li>FontAwesome 4.1.0</li>
<li>normalize.css 3.0.1</li>
<li>jQuery 1.11.1 (minified)</li>
<li>modernizr 2.8.2</li>
<li>Mixins for

<ul>
<li>Mediaqueries (breakpoints)</li>
<li>clearfix</li>
</ul>
</li>
<li>structured scss bootstrap with usefull predefined partials

<ul>
<li>colors</li>
<li>fonts</li>
<li>generals</li>
</ul>
</li>
</ul>


<h2>Features (explained)</h2>

<p>work in progress</p>

<h2>versions</h2>

<h3>1.0.1</h3>

<ul>
<li>readme.md updated</li>
<li>updated FontAwesome to 3.2.1</li>
<li>replaced color-variables with another color-scheme</li>
<li>improvments to the scss bootstrap</li>
<li>unifiyed scss partials comments</li>
<li>imports ie.scss if lte IE 9</li>
<li>removed codekit comments from config.rb</li>
<li>renamed the config.rb constant fonts_dir to &ldquo;font&rdquo;</li>
<li>error_reporting set to not show notices</li>
<li>replaced &ldquo;Ubuntu&rdquo; &amp; &ldquo;Source Sans Pro&rdquo; with &ldquo;Lato&rdquo; as default sans-serif webfont</li>
<li>added <em>generalls.scss &amp; </em>mixins.scss to keep the bootstrap screen.scss clean</li>
</ul>


<h3>1.0.0</h3>

<ul>
<li>initial commit</li>
</ul>

