/* =============================================================================
	Bullets-Pattern
	
	Bullets are a listed points of content, pointing out feature, aspects or benefits of the offered product.
	Bullets are part of the offer-group, which means that their main pourpose is to inform the user about what benefits this product offers.
	
	========================================================================== */
	
	.bullet {
		margin-bottom: 3em;
		&.vers--card {
			padding: 2em 1em;
			border: 1px solid darken( color(bg), 1% );
			border-top-width: 3px;
			@include box-sizing(border-box);
			& a:hover {
				border-top-color: color(primary);
			}
		}
		&--halfs {
			@include span(4);
			@include pre(2);
			&:nth-child(2n) {
				@include last();
				@include pre(0);
				@include post(2);
			}
		}
		&--thirds {
			@include span(4 of 12);
			&:nth-child(3n) {
				@include last();
			}
		}
		&--fourths {
			@include span(3 of 12);
			&:nth-child(4n) {
				@include last();
			}
			.bullet__imagery {
				margin-bottom: 2rem;
			}
		}
		&__imagery {
			margin-bottom: 2rem;
			img {
				display: block;
			}
			&.vers--icon {
				font-size: 5em;
			}
		}
	}