/* =============================================================================
	Focus-Pattern
	
	Fhe focus-pattern describes an element, that informes the user about something specific. It focuses the users attention to one single aspect.
	The Element usually uses 100% of the width; Featuring a large background image, pattern, gradient or solid color, with text in it.
	
	========================================================================== */
		
	.focus {
		background-size: cover;
		&__content {
			margin-top: 10rem;
			margin-bottom: 10rem;
			@include span(4);
			&--nospace {
				margin-top: 0;
				margin-bottom: 0;
			}
			&--lessspace {
				margin-top: 5rem;
				margin-bottom: 5rem;
				@include span(8);
			}
			&.last {
				@include last();
			}
		}
	}