/* =============================================================================
	Colors
	
	# Defines color-variables
	
	========================================================================== */
	
	$colors: (
		primary:	#00aeef,
		secondary:	#FF5040,
		trinary:	#a7a9ac,
		dark:		#4c4d4f,
		bright:		#eeeeee,
		bg:			#eeeeee
	);
	
	// mit color(['key']) wird der Wert returned
	@function color($name) {
		@return map-get($colors, $name);
	}
	
	// generates classes, based on $colors
	@each $color-name, $color-value in $colors {
		.bgcolor--#{$color-name} {
			background-color: #{$color-value};
		}
		.txtcolor--#{$color-name} {
			color: #{$color-value};
		}
	}
	
	
	
	/* ====== expanding misc classes ====== */
	
	.bgcolor--white {
		background-color: #fff;
	}
	
	.txtcolor--white {
		color: #fff;
	}
	
	.swatch {
		height: 6em;
		width: 6em;
		line-height: 6em;
	}