/* =============================================================================
	fonts
	
	# defines Font-families in Classes, use them with @extend
	# general typographical declarations; h1-h6, p, blockquote
	
	! do not use Nesting or ascendant selectors to overwrite these rules within this file, like .article { h1, h2 { .. } }, write a partial instead
	
	========================================================================== */

	
	// Load Webfont: Lato (http://www.google.com/fonts/specimen/Lato)
	@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Bitter:400,700,400italic');
	
	.font-main {
		font-family: "Source Sans Pro", "PT Sans","Myriad Pro", "Segoe UI", "Helvetica Neue", Verdana, sans-serif;
		font-weight: 300;
	}
	.font-secondary {
		font-family: "Bitter", "Georgia", "Times New Roman", serif;
		font-weight: 400;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		margin: 0;
	}
	p {
		font-weight: 300;
	}
	.intro {
		@extend .font-secondary;
		&.ctx--home {
			font-size: 2em;
			font-style: italic;
			margin-bottom: 3rem;
			line-height: 1.5em;
		}
	}
	
	.content--base {
		h1 {
			font-size: 2em;
			margin-bottom: 1em;
		}
		h2 {
			font-size: 1.3em;
			margin-bottom: 0.75em;
		}
		p {
			font-size: 1em;
			margin-bottom: 1em;
			line-height: 1.5em;
			font-weight: 300;
		}
	}