/* =============================================================================
	Generals
	
	# overwrites imported resets
	# general declarations
	# defines Helper-Classes
	
	========================================================================== */
	
	/* ====== overwrite resets ====== */
	
	a {
		color: inherit;
		text-decoration: none;
		@include transition(all .25s linear);
	}
	
	// Browser-Outline on :focus
	*:focus {
		outline: none;
	}
	
	/* ====== generelle deklarations ====== */
	
	body, html {
		color: color(dark);
		@extend .font-main;
	}
	
	img {
		max-width: 100%;
	}

	/* ====== Helper Classes ====== */
	
	// blockelements Helper Classes
	.overauto {
		overflow: auto;
	}
	.maauto {
		margin: 0 auto;
	}
	.dinblock {
		display: inline-block;
	}
	// show, hide, transparentize...
	.disabled {
		display: none;
	}
	.enabled {
		display: block;
	}
	.invisible {
		opacity: 0;
	}
	.visible {
		opacity: 1;
	}
	
	// floating, clearing...
	.clear {
		clear: both;
	}
	.clearfix {
		@include clearfix();
	}
	.fright {
		float: right;
		@include clearfix();
	}
	.fleft {
		float: left;
		@include clearfix();
	}
	
	// aligning
	.tacenter {
		text-align: center;
	}
	.taleft {
		text-align: left;
	}
	.taright {
		text-align: right;
	}
	.circle {
		border-radius: 50%;
		overflow: hidden;
	}
	.icon {
		display: inline-block;
		font-size: 1em;
		padding: 0 0.5em;
	}