/* =============================================================================
	Header
	========================================================================== */
	
	.header {
		background: url('../img/bg/waves.jpg') center center no-repeat;
		background-size: cover;
	}
	
	.call2action {
		
	}
		.call2action__headline {
			font-size: 4em;
			color: #fff;
		}
		.call2action__desc {
			@extend .font-secondary;
			margin-top: 0.5em;
			color: #fff;
			font-size: 1.2em;
			margin-bottom: 2em;
		}
		.call2action__action {
			font-size: 1em;
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
			letter-spacing: 0.1em;
			padding: 0.5em;
			display: inline-block;
			border-radius: 3px;
			&:hover {
				background-color: color(secondary);
			}
			&.vers--fullwidth {
				width: 100%;
				@include box-sizing(border-box);
			}
			&.vers--outlined {
				border: 2px solid #fff;
				box-sizing: border-box;
			}
		}