/* =============================================================================
	home
	
	# Homepage-Specific Rules
	# home__* selectors
	
	! Do not overwrite already used selectors
	
	========================================================================== */
	
	.home__intro {
		//background-color: darken( color(bg), 2% );
	}
	.home__highlighted-feature {
		padding-bottom: 6em;
	}
	.home__focus {
		&.vers--bird {
			background: url('../img/bg/bird.png') no-repeat right center #eef9ff;
		}
		&.vers--camera {
			background: url('../img/bg/camera.png') no-repeat right center #1c201e;
		}
		&.vers--skateboard {
			background: url('../img/bg/skateboard.jpg') no-repeat left center color(primary);
			background-size: auto 100%;
		}
	}
	// Highlighted Feature
	
	.highlighted-feature {
		@include span(4);
		@include pre(4);
		margin-top: 6em;
		margin-bottom: 6em;
		&__desc {
			margin-top: 3em;
		}
	}