/* =============================================================================
	General Layout - Footer, Wrapper, Header, Page
	========================================================================== */
	
	@include sticky_footer(400px, ".wrapper_global", ".wrapper_global--footer", ".footer_global");
	
	.wrapper--base {
		@include container(70em);
	}
	
	/* ====== Swatches ====== */
	
	.swatch--listed {
		@include span(4);
		margin-bottom: 1em;
		&.grid--last {
			@include last();
		}
	}
	
	/* =============================================================================
		Header
		========================================================================== */
	
	.header {
		height: 600px;
		background-color: color(primary);
	}
	
	
	/* =============================================================================
		Main Navigation
		========================================================================== */
		
	.main-navigation {
		@extend .wrapper--base;
		margin-top: 1em;
		margin-bottom: 1em;
	}
		.main-navigation__logo {
			@include span(2 of 12);
		}
		.main-navigation__menu {
			@include span(last 10 of 12);
		}
			.main-navigation__link {
				display: inline-block;
				height: 4em;
				line-height: 4em;
			}
			
	/* =============================================================================
		Teaser
		========================================================================== */
		
	.teaser {
		.call2action {
			margin-top: 10em;
		}
	}
	
	/* =============================================================================
		Content
		========================================================================== */
		
	.content--base {
		@include clearfix();
		padding-top: 3em;
		padding-bottom: 3em;
	}