/* =============================================================================
	Menus
	
	# the Menu-Component describes a section of elements for navigation
	# base styles may be applied to the menu-component
	
	! the menu-component does not come with layout-styles - use the contextual navigation classes instead
	
	========================================================================== */
	
	.menu {
		
	}
		.menu__link {
			font-size: 1em;
			margin-left: 1em;
			font-weight: 400;
			color: #fff;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			
			& > a {
				padding: 0.5em;
				border-bottom: 2px solid transparent;
				@include box-sizing(border-box);
				&:hover {
					border-color: #fff;
				}
			}
		}