/* =============================================================================
	Mixins
	
	# Defines mixins
	
	========================================================================== */
	
	// Define your own mediaqueries in the if-statements
	@mixin breakpoint($point) {
	
	  @if $point == large {
	    @media (max-width: 1680px) { @content; }
	  }
	  
	  @else if $point == medium {
	    @media (max-width: 1366px) { @content; }
	  }
	  
	  @else if $point == small {
	    @media (max-width: 480px)  { @content; }
	  }
	  
	}
	
	// Custom Breakpoint
	@mixin custom_breakpoint($point) {
	    @media (max-width: $point) { @content; }
	}
	
	// Clearfix
	@mixin clearfix() {
	    & {
	        *zoom: 1;
	    }
	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}
	
	// Fold Shadow
	
	// triangles